.DS_Store
**.DS_Store

13-projects-exploratory-analysis/data/properties_2017.csv
13-projects-exploratory-analysis/data/sample_submission.csv
13-projects-exploratory-analysis/data/train_2016_v2.csv
13-projects-exploratory-analysis/data/train_2017.csv
13-projects-exploratory-analysis/data/zillow_data_dictionary.xlsx
13-projects-exploratory-analysis/.DS_Store
15-ml-with-decision-trees/notebooks/Aula 15 - AM com Árvores de Decisão.ipynb
15-ml-with-decision-trees/notebooks/Gabarito Aula 15 - AM com Árvores de Decisão.ipynb
15-ml-with-decision-trees/README.md
*.ipynb_checkpoints*